/* Global Styles */
html {
  background-color: #f4f7f6;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f4f7f6;
  color: #333;
  margin: 0;
  padding: 0;
  /* height: 100vh; */
}

.onboarding-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 36px;
  color: #007bff;
}

h2 {
  text-align: center;
  font-size: 24px;
  color: #007bff;
}

/* Container Styles */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  overflow: scroll;
}

.auth-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 20px;
}

.auth-form {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  max-width: 400px;
}

.form-container {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  max-width: 300px;
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* margin-bottom: 100px; */
}

/* Form Styles */
.form-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

.form-input,
.form-textarea {
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  outline: none;
}

.form-input:focus,
.form-textarea:focus {
  border-color: #007bff;
}

.form-textarea {
  height: 100px;
  resize: none;
}

/* Button Styles */
.primary-button {
  width: 100%;
  background-color: #007bff;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.secondary-button {
  width: 100%;
  background-color: #58a2f0;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.primary-button:hover {
  background-color: #0056b3;
}

.primary-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.logout-container {
  margin-top: 20px;
}

/* Error Message */
.error-message {
  color: red;
  text-align: center;
  margin-bottom: 20px;
}

/* Status Message */
.status-message {
  text-align: center;
  color: #007bff;
  margin-bottom: 20px;
}

/* Profile Styles */
.profile-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 300px;
  text-align: center;
}

.profile-info-row {
  margin: 10px 0;
  font-size: 16px;
}

.loading-message {
  text-align: center;
  color: #666;
  margin-top: 20px;
}

/* Results Styles */
.results-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin: 20px auto;
  text-align: center;
}

.results-container {
  margin-top: 20px;
}

.results-card h2 {
  font-size: 22px;
  color: #333;
}

.results-card p {
  font-size: 16px;
  color: #555;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
  margin-bottom: 200px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: "24px";
}

.logout-button {
  background-color: #ff4d4d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.input-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
